# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

sir_soci
sir_apull
workloads/clyde_apull/certs
workloads/clyde_apull/Llama-2-7b-chat-hf
workloads/clyde_apull/Llama-3.2-1B
workloads/clyde_apull/logs
.DS_Store
workloads/.DS_Store
workloads/clyde_apull/DeepSeek-R1-Distill-Llama-8B/
workloads/image_pull/DeepSeek-R1-Distill-Llama-8B/
# Added by goreleaser init:
dist/
secret/

logs
log*.log
